<link rel="stylesheet" href="/admin/stylesheets/style.css">
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>













{{!-- body --}}
<div class="col-lg-10 grid-margin stretch-card">
  <div class="card">
    <div class="card-body">

      <p class="card-description mt-5">
      <h1>PRODUCT MANAGEMENT</h1>
      </p>
      <a href="/admin/add-product" class="btn btn-outline-success btn-lg">Add new Product</a>

      <table class="table table-striped mt-5">
        <thead>
          <tr>
            <th> Image </th>
            <th> Name </th>
            <th> Brand </th>
            <th> Quantity</th>
            <th> Category </th>
            <th> Price </th>
            <th> Edit </th>
            <th> Remove </th>
          </tr>
        </thead>
        <tbody>
          {{#each products}}
          <tr>
            <td class="py-1">
              <img src="/product-images/{{this._id}}.jpg" alt="image" />
            </td>
            <td>{{this.Name}}</td>
            <td> {{this.Brand}} </td>
            <td>{{this.Quantity}}</td>
            <td>{{this.Category}}</td>
            <td>{{this.Price}}</td>
            <td><a href="/admin/edit-product/{{this._id}} " class="btn btn-primary">Edit</a></td>
            <td> <button  class="btn btn-danger" onclick="alerted('{{this._id}}');">Remove</button>
            </td>

          </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
</div>

<script>
  function alerted(proId){
   Swal.fire({
  title: 'Are you sure?',
  text: "You won't be able to revert this!",
  icon: 'warning',
  showCancelButton: true,
  confirmButtonColor: '#d33',
  cancelButtonColor: '#3085d6',
  confirmButtonText: 'Yes, delete it!'
}).then((result)=>{
    $.ajax({
      url:'/admin/delete-product/'+proId,      
      method:'post',
      success:(response)=>{
       if(result.isConfirmed){
       Swal.fire({
          
          icon: 'success',
          title: 'Your work has been saved',
          showConfirmButton: false,
          })
          setTimeout(()=>{
            location.reload()
          },800)
       }
      }
    })

})
  }
   
</script>