<link rel="stylesheet" href="/admin/stylesheets/style.css">
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>













{{!-- body --}}
<div class="col-lg-10 grid-margin stretch-card">
  <div class="card">
    <div class="card-body">

      <p class="card-description mt-5">
      <h1>PRODUCT MANAGEMENT</h1>
      </p>
      <a href="/admin/add-product" class="btn btn-outline-success btn-lg">Add new Product</a>

      <table class="table table-striped mt-5">
        <thead>
          <tr>
            <th> Image </th>
            <th> Name </th>
            <th> Brand </th>
            <th> Quantity</th>
            <th> Category </th>
            <th> Price </th>
            <th> Edit </th>
            <th> Remove </th>
          </tr>
        </thead>
        <tbody>
          {{#each products}}

          <tr>
            <td class="py-1">
              <img src="/productImages/{{this.image.[0]}}" alt="image" />
            </td>
            <td>{{this.Name}}</td>
            <td> {{this.Brand}} </td>
            <td>{{this.Quantity}}</td>
            <td>{{this.Category}}</td>
            <td>{{this.Price}}</td>
            <td><a href="/admin/edit-product/{{this._id}} " class="btn btn-primary">Edit</a></td>
            {{#if archive}}
            <td> <button class="btn btn-danger" onclick="alertedUndo('{{this._id}}');">Unhide</button>
            </td>
            {{else}}
            <td> <button class="btn btn-danger" onclick="alerted('{{this._id}}');">Hide</button>
            </td>
          {{/if}}
          </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
</div>

<script>
  function alerted(proId) {
    Swal.fire({
      title: 'Are you sure?',
      text: "You won't be able to revert this!",
      icon: 'warning',
      showCancelButton: true,
      confirmButtonColor: '#d33',
      cancelButtonColor: '#3085d6',
      confirmButtonText: 'Yes, hide it!'
    }).then((result) => {
      $.ajax({
        url: '/admin/delete-product/' + proId,
        method: 'post',
        success: (response) => {
          if (result.isConfirmed) {
            Swal.fire({

              icon: 'success',
              title: 'Product hided succesfuly',
              showConfirmButton: false,
            })
            setTimeout(() => {
              location.reload()
            }, 800)
          }
        }
      })

    })
  }

  function alertedUndo(proId) {
    console.log("working???????????????????")
    Swal.fire({
      title: 'Are you sure?',
      text: "You won't be able to revert this!",
      icon: 'warning',
      showCancelButton: true,
      confirmButtonColor: '#d33',
      cancelButtonColor: '#3085d6',
      confirmButtonText: 'Yes, unhide  it!'
    }).then((result) => {
      $.ajax({
        url: '/admin/undoDelete-product/' + proId,
        method: 'post',
        success: (response) => {
          if (result.isConfirmed) {
            Swal.fire({

              icon: 'success',
              title: 'product is unhided',
              showConfirmButton: false,
            })
            setTimeout(() => {
              location.reload()
            }, 800)
          }
        }
      })

    })
  }

</script>