<header class="full-width fixed">
	<div class="container space_top_bot_55 delay03 BG-black" id="menu-header">
		<div class="row flex">
			<div class="col-lg-1 col-md-2 col-sm-6 col-xs-5">
				<a href="#"><img src="/img/humenlogotext.png" alt=""></a>
			</div>
			<div class="col-lg-8 col-md-7 hidden-sm hidden-xs">
				<ul class="nav navbar-nav menu-font menu-main">
					<li class="relative dropdown">
						<a href="/" class="link-menu white delay03 uppercase">HOME</a>
						<figure class="line active_line absolute delay03"></figure>
						{{!-- <div class="dropdown-menu mega-menu-main absolute space_30 space_top_bot_50 text-left">
							<div class="container_15">
								<div class="row">
									<div class="col-lg-6 col-md-6 border-right">
										<ul class="clear-space capital lv1">
											<li class="margin_bottom_20 space_left_20 uppercase">Home Set 1</li>
											<li class="menu-child-font"><a href="home1.html">Home page 1</a></li>
											<li class="menu-child-font"><a href="home2.html">Home page 2</a></li>
											<li class="menu-child-font"><a href="home3.html">Home page 3</a></li>
											<li class="menu-child-font"><a href="home4.html">Home page 4</a></li>
										</ul>
									</div>
									<div class="col-lg-6 col-md-6">
										<ul class="capital lv1 space_left_30">
											<li class="margin_bottom_20 space_left_20 uppercase">Home set 2</li>
											<li class="menu-child-font"><a href="home5.html">Home page 5</a></li>
											<li class="menu-child-font"><a href="home6.html">Home page 6</a></li>
											<li class="menu-child-font"><a href="home7.html">Home page 7</a></li>
											<li class="menu-child-font"><a href="#">Home page 8 - Comming soon</a></li>
										</ul>
									</div>
								</div>
							</div>
						</div> --}}
					</li>
					<li class="relative dropdown">
						<a href="/allProducts" class="link-menu white delay03 uppercase">PRODUCTS</a>
						<figure class="line absolute delay03"></figure>
						{{!-- <div
							class="dropdown-menu mega-menu-main absolute space_30 space_top_bot_50 text-left mega-menu-shop">
							<div class="container_15">
								<div class="row">
									<div class="col-lg-4 col-md-4 border-right">
										<ul class="clear-space capital lv1">
											<li class="margin_bottom_20 space_left_20 uppercase">shop page</li>
											<li class="menu-child-font"><a href="Shop_right_sidebar.html">shop right
													sidebar</a></li>
											<li class="menu-child-font"><a href="Shop_left_sidebar.html">shop left
													sidebar</a></li>
											<li class="menu-child-font"><a href="Shop_no_sidebar.html">shop full
													width</a></li>
											<li class="menu-child-font"><a href="#">shop page 4 - Comming soon</a></li>
										</ul>
									</div>
									<!--  -->
									<div class="col-lg-4 col-md-4">
										<ul class="capital lv1 space_left_30">
											<li class="margin_bottom_20 space_left_20 uppercase">product detail</li>
											<li class="menu-child-font"><a href="Product_detail_1.html">product detail
													1</a></li>
											<li class="menu-child-font"><a href="Product_detail_2.html">product detail
													2</a></li>
											<li class="menu-child-font"><a href="#">product detail 3 - Comming soon</a>
											</li>
											<li class="menu-child-font"><a href="#">product detail 4 - Comming soon</a>
											</li>
										</ul>
									</div>
									<!--  -->
									<!--  -->
									<div class="col-lg-4 col-md-4 banner-menu">
										<div class="product">
											<div class="img-product relative">
												<a href="#" class="inline-block"><img src="/img/product1_home6.jpg"
														class="img-responsive" alt=""></a>
												<figure class="absolute uppercase label-new title-font text-center">new
												</figure>
												<div class="product-icon absolute text-center">
													<form method="post" action="/cart/add" enctype="multipart/form-data"
														class="inline-block icon-addcart">
														<input type="hidden" name="id" value="" />
														<button type="submit" name="add"
															class="enj-add-to-cart-btn btn-default"><i
																class="ti-bag"></i></button>
													</form>
													<a href="#" class="icon-heart inline-block"><i
															class="ti-heart"></i></a>
													<a href="#" class="icon-heart inline-block"><i
															class="ti-heart"></i></a>
													<a href="#" class="engoj_btn_quickview icon-quickview inline-block"
														title="quickview">
														<i class="ti-more-alt"></i>
													</a>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div> --}}
					</li>
					<li class="relative dropdown">
						<a href="#" class="link-menu white delay03 uppercase">BLOG</a>
						<figure class="line absolute delay03"></figure>
						<div class="dropdown-menu mega-menu-main absolute space_30 space_top_bot_50 text-left">
							<div class="container_15">
								<div class="row">
									<div class="col-lg-6 col-md-6 border-right">
										<ul class="clear-space capital lv1">
											<li class="margin_bottom_20 space_left_20 uppercase">blog page</li>
											<li class="menu-child-font"><a href="Blog_right_sidebar.html">blog right
													sidebar</a></li>
											<li class="menu-child-font"><a href="Blog_left_sidebar.html">blog left
													sidebar</a></li>
											<li class="menu-child-font"><a href="Blog_no_sidebar.html">blog full
													width</a></li>
											<li class="menu-child-font"><a href="#">blog page 4 - Comming soon</a></li>
										</ul>
									</div>
									<div class="col-lg-6 col-md-6">
										<ul class="capital lv1 space_left_30">
											<li class="margin_bottom_20 space_left_20 uppercase">blog detail page</li>
											<li class="menu-child-font"><a href="Blog_detail_right_sidebar.html">blog
													detail right sidebar</a></li>
											<li class="menu-child-font"><a href="Blog_detail_left_sidebar.html">blog
													detail left sidebar</a></li>
											<li class="menu-child-font"><a href="Blog_detail_no_sidebar.html">blog
													detail full width</a></li>
											<li class="menu-child-font"><a href="#">blog detail 4 - Comming soon</a>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</li>
					<li class="relative">
						{{#if user}}
						<a href="/logout" class="link-menu white delay03 uppercase">LOGOUT</a>
						<figure class="line absolute delay03"></figure>
						{{else}}
						<a href="/login" class="link-menu white delay03 uppercase">LOGIN</a>
						<figure class="line absolute delay03"></figure>
						{{/if}}
					</li>

					<li class="relative">
						<a href="Contact.html" class="link-menu white delay03 uppercase">CONTACT</a>
						<figure class="line absolute delay03"></figure>
					</li>
				</ul>
			</div>
			{{#if user}}
			<p class="link-menu white delay03 uppercase">Hey..{{user.userName}}</p>
			{{/if}}
			<div class="col-lg-3 col-md-3 col-sm-6 col-xs-7 text-right icon-main">

				<a href="/profile" class="link-menu white delay03 container_20 inline-block hidden-xs hidden-sm"
					id="btn-login"><i class="zoa-icon-user"></i></a>
				{{#if user}}
				<a href="/wishlist" class="link-menu white delay03 container_20 relative inline-block text-center"
					id="btn-cart">
					<i class="ti-heart"></i>
					{{#if wishNum }}
					<figure class="absolute label-cart number-font">{{wishNum}}</figure>
					{{else}}
					<figure class="absolute label-cart number-font">0</figure>
					{{/if}}
					
				</a>
				{{/if}}

				{{#if user}}
				<a href="/cart" class="link-menu white delay03 container_20 relative inline-block text-center"
					id="btn-cart">
					<i class="ti-bag"></i>
					{{#if cartNum}}
					<figure class="absolute label-cart number-font">{{cartNum}}</figure>
					{{else}}
					<figure class="absolute label-cart number-font">0</figure>
					{{/if}}
				</a>
				{{/if}}

				<a href="#"
					class="link-menu white delay03 inline-block hidden-md hidden-lg space_left_10 btn-push-menu">
					<svg width="26" height="16" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" x="0px"
						y="0px" viewBox="0 0 66 41" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve">
						<g>
							<line class="st0" x1="1.5" y1="1.5" x2="64.5" y2="1.5"></line>
							<line class="st0" x1="1.5" y1="20.5" x2="64.5" y2="20.5"></line>
							<line class="st0" x1="1.5" y1="39.5" x2="64.5" y2="39.5"></line>
						</g>
					</svg>
				</a>
			</div>
		</div>
	</div>
</header>